<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <form action='/new-product' method="post">
        <label for="c_name">Company Name:</label><br><br>
        <input type="text" id="c_name" name="c_name"><br><br>
        <label for="p_name">Product name:</label><br><br>
        <input type="text" id="p_name" name="p_name"><br>
        <label for="price">Price:</label><br><br>
        <input type="text" id="price" name="price"><br>
        <label for="inventory">Inventory:</label><br><br>
        <input type="text" id="inventory" name="inventory"><br>
        <label for="categories">categories:</label><br><br>
        <input type="text" id="categories" name="categories"><br>
        <label for="description">description:</label><br><br>
        <input type="text" id="description" name="description"><br>
        <br>
        <input type="submit" value="Submit">
      </form>    
</body>
</html>